# ключи от аккаунта для отравки запросов на Binance

# Ключи от аккаунта инвесторов (Binance)
#api_key=yOQ6q3jZwlM4jn9chWXlK8xZpiAyaHJgR1MM5bHj9QCvRQt4ZTkscpQCYVzJsu8h
#secret_key=0eK1ZuQ71v7ElSJ5NEC1VLrNNVrXvbZ333S37tkhWWMGk2tz8Y57KOZ7uK6cYZJe

# Ключи от аккаунта Семёна (Binance)
api_key=HQP47UX6YQMBaAQtufvAS9GlYgnouZghP5boxa3x2HqLbnLpuyhvHgbgGYAeprWo
secret_key=COBjwRly14dBDixQzpr1RemCOrnhID4ri0LVBN6Y5kejiIzgxfvmwSjbQl69VhXc

#Ключи и пассфраза от аккаунта Семёна (OKX)
#api_key=cfc752d5-9259-4e6d-861c-3ce413175761
#secret_key=80B9907A875920045093E94544809712
#pass_phrase=Withdrawals_enabled1

# orders_type - тип ордеров
0 - GTC(Good Til Canceled) ордера либо существуют пока не выполнятся, либо пока их не отменить
1 - FOK(Fill or Kill) если на рынке существует объем по нужной цене, то он выполнится сразу, иначе отменится
2 - IOC(Immediate Or Cancel) почти такой же как FOK, только если на рынке не хватает объема, то он выполнит только часть 
3 - GTC_part, тот же GTC только добавлена возможность обработки PARTIALLY_FILLED ордеров

orders_type=3

# для FOK запросов:
# count_repeats - количество запросов для второго и третьего ордеров в треугольнике (первый запрос отправляется один раз)
# pause_between_orders - задержка в миллисекудах между запросами

count_repeats=5
pause_between_orders=1

# для GTC запросов:
# await_time - время в миллисекундах сколько ждать ответа на ордер
await_time=10000 
